<!-- http://localhost:8080/booklist -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head>
    <title>Booklist</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
 <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>List of Books</h1>
    
    <div class="d-flex align-items-center gap-2">
        <span>Logged in as: <span sec:authentication="name"></span></span>
        <form th:action="@{/logout}" method="post" class="m-0 p-0">
            <button type="submit" class="btn btn-warning">Logout</button>
        </form>
    </div>
</div>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
              <th></th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publicationYear}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td>
            <!-- vain admin näkee poistonapin -->
           <td sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/deletebook/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
</td>
            <td>
                <a th:href="@{/editbook/{id}(id=${book.id})}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/add}" class="btn btn-success">Add Book</a>
</body>
</html>
