<!-- http://localhost:8080/categorylist -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Category list</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1>List of Categories</h1>
    <table class="table table-striped">
        <tr>
            <th>Category</th>
        </tr>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}"></td>
        </tr>
    </table>
    <a th:href="@{/addcategory}" class="btn btn-success mb-3">Add Category</a>
</body>
</html>
